<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock-paper-scissors!</title>
    <!-- <link rel="stylesheet" href="https://nispar2009.github.io/spectrum_stylr/Fun/Spectrum.css"> -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="heading">Let's play rock-paper-scissors!</h1>
    <p>
        This is a digital adaptation of an extremely popular game.
        View your dashboard here.
        <a href="/challenge?user={{ user[0] }}" class="link">Click to play with friends.</a>
        To view open challenges, click <a href="/accept" class="link">me</a>!
        Wanna practice first? Click <a href="/practice?user={{ user[0] }}" class="link">here</a>.
    </p>

    <h2 class="heading">Your stats</h2>
    
    {% if user[1] >= 10 %}
    <p style="color: brown;">Online wins: {{ user[1] }} (you won bronze!)</p>
    {% elif user[1] >= 25 %}
    <p style="color: grey;">Online wins: {{ user[1] }} (you won silver!)</p>
    {% elif user[1] >= 50 %}
    <p style="color: goldenrod;">Online wins: {{ user[1] }} (you won gold!)</p>
    {% else %}
    <p>Online wins: {{ user[1] }}</p>
    {% endif %}

    {% if user[2] >= 10 %}
    <p style="color: brown;">Practice wins: {{ user[2] }} (you won bronze!)</p>
    {% elif user[2] >= 25 %}
    <p style="color: grey;">Practice wins: {{ user[2] }} (you won silver!)</p>
    {% elif user[2] >= 50 %}
    <p style="color: goldenrod;">Practice wins: {{ user[2] }} (you won gold!)</p>
    {% else %}
    <p>Practice wins: {{ user[2] }}</p>
    {% endif %}
</body>
</html>