<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/script.js"></script>
</head>

<body>
    <div id="body">
        <h2 class="heading">Challenge the computer!</h2>
        <button onclick="makeDecision('r', '{{ computer }}')" class="btn">Rock</button>
        <button onclick="makeDecision('p', '{{ computer }}')" class="btn">Paper</button>
        <button onclick="makeDecision('s', '{{ computer }}')" class="btn">Scissors</button>
    </div>
</body>

</html>